body{
    background-color: #fff8;
}
.cv{
    position:absolute ;
    margin: 111px auto;
    top: -90px;
    left: 500px;
    padding: 200px;
}
.cv2{
    position: absolute;
    background-position: top;
    height: calc(100vh-80px);
    z-index: 11;
    left: 40px;
    top:40px;
    box-shadow: 0 0 7px #ffb400;
}